.barra{

    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.barra header{

    max-width: 1100px;
    display: solid;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 15px 20px;
    align-items: center;

}

.barra header .pag a{

    font-size: 35px;
    color: white;
    text-decoration: none;
}

.barra header ul{

    display: flex;
    list-style: none;
}

.barra header nav ul li a{

    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.inicio{

    display: flex;
    background-size: cover;
    font-size: 35px;
    justify-content: center;
    margin-top: 150px;
    
    
}

.inicio .pagprincipal ul li{

    margin: 70px;
    
    
}




.inte{

    display: block;
    font-size: 15px;
    margin-top: 200px;
    margin-left: 50px;
    
}

.inte h1{
    font-size: 20px;
    justify-content: center;
    
}

.inte .fer{

    display: flex;
    
    width: 100px;
    height: 100px;
    

}

.inte .manu{

    display: flex;
    
    width: 100px;
    height: 100px;
}

.inte .grego{

    display: flex;
    
    width: 100px;
    height: 100px;
}

.dos .links{

    display: flex;
    
    margin-top: -850px;
    flex-direction: column;
    margin-left: 50px;
    
    

}

.links .uno{
    display: flex;
    margin-top: 850px;
    
}

.links .dos{
    display: flex;
    margin-top: 10px;
}

.links .tres{
    display: flex;
    margin-top: 10px;
}

.sitiowe{
    
    margin: 250px;
    font-size: 30px;
    
}

.sitiowe .propuestas{
    margin: 100px;
}

.sitiowe .titulo{
    margin: 100px;
}

.sitiowe .desc{
    margin: 100px;
}


.avance{
    margin-top: 300px;
    font-size: 30px;
    margin-left: 50px;
}

.sitioweb{
    margin-top: 300px;
    font-size: 30px;
    margin-left: 50px;
    
}


@media screen and (max-width:740px){
    #nav ul{
        display: block;
    }
    .inicio .pagprincipal{
        width: -150px;
        font-size: 20px;
        display: block;
    }

    .avance{
        display: block;
        font-size: 20px;
    }

    .sitioweb{
        display: block;
        font-size: 20px;
    }

    .inte{
        font-size: 10px;
    
    }

    .sitio .sitiowe #nav ul{
        display: inline-block;
        margin-left: -320px;
        
    }
    
    .sitio .sitiowe .propuestas{
        display: block;
        font-size: 15px;

    }

    .sitio .sitiowe .titulo{
        display: block;
        font-size: 15px;
    }

    .sitio .sitiowe .desc{
        display: block;
        font-size: 15px;
    }
    
    
}











